

table,tr, td, th {
    border-collapse: collapse;
    border: 1px solid black;
}
/* 
table.noborder >tbody>tr>td{
    border: none;
    border: 1px solid black;

} */

td.btn{
    text-align: center;
}


.container{
    width: 100wh;
    margin-top: 20px;
}

table{
    margin: 0 auto;
}

table.table-home{
    margin: 0;
    margin-top: 20px;
}

h1{
    text-align: center;
}

td{
    padding: 5px;
}